# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Raw and processed datasets
data/raw/
data/processed/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db